html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 禁用页面整体滚动 */
}


.container{
    width: 100vw;
    height: 100vh;

background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    overflow: hidden;
}

.text
{
    font-family: 'STKaiti';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: rgb(255, 203, 203);
    user-select: none;
}

.box{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    width: 200px;
    height: 70px;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
    animation: frame1 0.8s ease-in-out;
    animation-fill-mode: forwards;
    /* transform: scale(0); */
    /* border: 1px solid rgb(223, 223, 223); */
}
@keyframes  frame1{
    0% {
      opacity: 0;
      transform: scale(0) rotate(0deg);;  
    }
    50% {
        transform: scale(1.1)  rotate(var(--r, 0deg));  
    }
    100% {
        transform: scale(1) rotate(var(--r, 0deg));
        opacity: 1;
        
    }
}

.box-head{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 35px;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
}
.arg{
    display: flex;
    align-items: center;
    gap: 10px;
    
    /* width: 50%; */
}
.title{
    
    font-size: 0.8rem;
}
.icon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(13, 255, 0);
}
.icon:first-child{
    background-color: rgb(255, 0, 0);
}
.icon:nth-child(2){
    background-color: rgb(255, 255, 0);
}



.content{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'STKaiti';
    /* background-color: bisque; */
}